
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(110, 131, 190);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}


#username, #password {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 30px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

#username:focus, #password:focus {
    border-color: #000000; 
}


.password-container {
    display: flex;
    align-items: center;
    position: relative;
}

#buttonMostra {
    position: absolute;
    right: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transform: translateY(-25%);
    
}

#buttonAccedi {
    width: 50%;
    padding: 12px;
    background-color: #20911c;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#buttonAccedi:hover {
    background-color: #45a049;
    transform: scale(1.05);
}


.login-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
